<?xml version="1.0" encoding="utf-16"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ProjectSupport Caption="Hql" TypeFullName="Hql.ProjectSupport" Path="..\..\bin\Debug\Hql.dll" />
  <Languages>
    <Language Name="Hql" Path="..\..\bin\Debug\Hql.dll">
      <DynamicExtensions />
    </Language>
  </Languages>
  <References />
</Config>